<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CourseManagementMapper">
	
	<!--表名 -->
	<sql id="tableName">
		SV_COURSEMANAGEMENT
	</sql>
	
	<!-- 字段 -->
	<sql id="Field">
		TEACHER_ID,	
		CLASS_ID,	
		SUBJECT_ID,	
		START_DATE,	
		END_DATE,	
		REMARK,	
		GRADE_ID,
		TERM_ID,
		SCHOOL_ID,
		ID
	</sql>
	
	<!-- 字段值 -->
	<sql id="FieldValue">
		#{TEACHER_ID},	
		#{CLASS_ID},	
		#{SUBJECT_ID},	
		#{START_DATE},	
		#{END_DATE},	
		#{REMARK},	
		#{GRADE_ID},	
		#{TERM_ID},	
		#{SCHOOL_ID},	
		#{ID}
	</sql>
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into 
	<include refid="tableName"></include>
		(
			ID,
			TEACHER_ID,	
			CLASS_ID,	
			SUBJECT_ID,	
			START_DATE,	
			END_DATE,	
			GRADE_ID,
			TERM_ID,
			SCHOOL_ID,
			REMARK
		) values (
		#{ID},	
		#{TEACHER_ID},	
		#{CLASS_ID},	
		#{SUBJECT_ID},	
		#{START_DATE},	
		#{END_DATE},	
		#{GRADE_ID},	
		#{TERM_ID},	
		#{SCHOOL_ID},	
		#{REMARK}
		)
	</insert>
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from
		<include refid="tableName"></include>
		where 
			ID = #{ID}
	</delete>
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update
		<include refid="tableName"></include>
		set 
			TEACHER_ID = #{TEACHER_ID},
			CLASS_ID = #{CLASS_ID},
			SUBJECT_ID = #{SUBJECT_ID},
			START_DATE = #{START_DATE},
			END_DATE = #{END_DATE},
			REMARK = #{REMARK},
			GRADE_ID = #{GRADE_ID},	
			TERM_ID = #{TERM_ID},	
			SCHOOL_ID = #{SCHOOL_ID},	
		ID = ID
		where 
		ID = #{ID}
	</update>
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 
			ID = #{ID}
	</select>
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 1=1
		<if test="pd.keywords!= null and pd.keywords != ''"><!-- 关键词检索 -->
			and
				(
				
				)
		</if>
		
		<if test="pd.TERM_ID!= null and pd.TERM_ID != ''"><!-- 关键词检索 -->
			and
				(
				TERM_ID = #{pd.TERM_ID}
				)
		</if>
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 1 =1 
		
	</select>
	
	<!-- 列表(全部) -->
	<select id="listCourse" parameterType="pd" resultType="pd">
		SELECT
			sv_teacher.`NAME`,
			sv_sclass.CLASS_NAME,
			sv_subject.CNAME,
			SV_COURSEMANAGEMENT.SUBJECT_ID,
			SV_COURSEMANAGEMENT.TEACHER_ID,
			SV_COURSEMANAGEMENT.CLASS_ID,
			SV_COURSEMANAGEMENT.ID,
		SV_COURSEMANAGEMENT.HEAD_MASTER
		FROM
			SV_COURSEMANAGEMENT
		LEFT JOIN sv_sclass ON SV_COURSEMANAGEMENT.CLASS_ID = sv_sclass.ID
		LEFT JOIN sv_teacher ON sv_coursemanagement.TEACHER_ID = sv_teacher.ID
		LEFT JOIN sv_subject on sv_coursemanagement.SUBJECT_ID = sv_subject.ID
		WHERE
			SV_COURSEMANAGEMENT.SCHOOL_ID = #{SCHOOL_ID}
		
	</select>
	
	<select id="listTeacherClass" parameterType="pd" resultType="pd">
		SELECT
			sv_sclass.*
		FROM
			sv_coursemanagement
		LEFT JOIN sv_sclass ON sv_coursemanagement.CLASS_ID = sv_sclass.ID
		WHERE
			sv_coursemanagement.TEACHER_ID =  #{TEACHER_ID}
		order by sv_sclass.CLASS_CODE
		
	</select>
	
	<!-- 列表(全部) -->
	<select id="listCourselistPage" parameterType="page" resultType="pd">
		SELECT
			sv_teacher.`NAME`,
			sv_sclass.CLASS_NAME,
			sv_subject.CNAME,
			SV_COURSEMANAGEMENT.SUBJECT_ID,
			SV_COURSEMANAGEMENT.TEACHER_ID,
			SV_COURSEMANAGEMENT.CLASS_ID,
			SV_COURSEMANAGEMENT.ID,
		SV_COURSEMANAGEMENT.HEAD_MASTER
		FROM
			SV_COURSEMANAGEMENT
		LEFT JOIN sv_sclass ON SV_COURSEMANAGEMENT.CLASS_ID = sv_sclass.ID
		LEFT JOIN sv_teacher ON sv_coursemanagement.TEACHER_ID = sv_teacher.ID
		LEFT JOIN sv_subject on sv_coursemanagement.SUBJECT_ID = sv_subject.ID
		WHERE
			SV_COURSEMANAGEMENT.SCHOOL_ID = #{pd.SCHOOL_ID}
		
	</select>
	
	
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from
		<include refid="tableName"></include>
		where 
			ID in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
	
	<!-- fh313596790qq(青苔) -->
</mapper>