<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="GradeMapper">
	
	<!--表名 -->
	<sql id="tableName">
		SV_GRADE
	</sql>
	
	<!-- 字段 -->
	<sql id="Field">
		SV_GRADE.NAME,SV_GRADE.DESC,REMARK,ID
	</sql>
	
	<!-- 字段值 -->
	<sql id="FieldValue">
		#{NAME},	
		#{DESC},	
		#{REMARK},	
		#{ID}
	</sql>
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into 
	<include refid="tableName"></include>
		(
			SV_GRADE.NAME,	SV_GRADE.DESC,	REMARK) values (#{NAME},#{DESC},#{REMARK}
		)
	</insert>
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from
		<include refid="tableName"></include>
		where 
			ID = #{ID}
	</delete>
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update
		<include refid="tableName"></include>
		set 
			SV_GRADE.NAME = #{NAME},
			SV_GRADE.DESC = #{DESC},
			REMARK = #{REMARK},
			ID = #{ID}
		where 
		ID = #{ID}
	</update>
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 
			ID = #{ID}
	</select>
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 1=1
		
	</select>
	
	<!-- 列表 -->
	<select id="datalistPageInSchool" parameterType="page" resultType="pd">
		select
		<include refid="Field"></include>
		,sv_schoolgradesubject.SCHOOLGRADESUBJECT_ID
		FROM
			sv_grade LEFT JOIN sv_schoolgradesubject on sv_grade.ID = sv_schoolgradesubject.GRADE_ID
		WHERE 1 =1 
			<if test="pd.SCHOOL_ID != null and pd.SCHOOL_ID != ''"><!-- 关键词检索 -->
				and	sv_schoolgradesubject.SCHOOL_ID = #{pd.SCHOOL_ID}
			</if>
		GROUP BY sv_grade.ID
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAllNot" parameterType="pd" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 
		sv_grade.ID not IN (
				SELECT
					GRADE_ID
				FROM
					sv_schoolgradesubject
				WHERE
				<if test="SCHOOL_ID != null and SCHOOL_ID != ''"><!-- 关键词检索 -->
					sv_schoolgradesubject.SCHOOL_ID = #{SCHOOL_ID}
				</if>
				GROUP BY
					GRADE_ID
			)
	</select>
	
	<!-- 列表学校年级信息 -->
	<select id="listAllInschool" parameterType="pd" resultType="pd">
		SELECT
			<include refid="Field"></include>
		FROM
			<include refid="tableName"></include>
		WHERE
			sv_grade.ID IN (
				SELECT
					GRADE_ID
				FROM
					sv_schoolgradesubject
				WHERE
				<if test="SCHOOL_ID != null and SCHOOL_ID != ''"><!-- 关键词检索 -->
					sv_schoolgradesubject.SCHOOL_ID = #{SCHOOL_ID}
				</if>
				GROUP BY
					GRADE_ID
			)
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from
		<include refid="tableName"></include>
		where 
			ID in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
	
	<!-- fh313596790qq(青苔) -->
</mapper>