<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="PaperMapper">
	
	<!--表名 -->
	<sql id="tableName">
		SV_PAPER
	</sql>
	
	<!-- 字段 -->
	<sql id="Field">
		TITLE,	
		USER_ID,	
		PAPER_TYPE,	
		SUBJECT_ID,	
		GRADE_ID,	
		SCHOOL_ID,	
		CREATE_DATE,	
		MODIFY_DATE,	
		EXAM_TIME,	
		PAPER_STATE,	
		REMARK,	
		SCORE,	
		CLASS_ID,	
		QUESTION_NUM,	
		PAPER_ID
	</sql>
	
	<!-- 字段值 -->
	<sql id="FieldValue">
		#{TITLE},	
		#{USER_ID},	
		#{PAPER_TYPE},	
		#{SUBJECT_ID},	
		#{GRADE_ID},	
		#{SCHOOL_ID},	
		#{CREATE_DATE},	
		#{MODIFY_DATE},	
		#{EXAM_TIME},	
		#{PAPER_STATE},	
		#{REMARK},	
		#{SCORE},	
		#{CLASS_ID},	
		#{QUESTION_NUM},	
		#{PAPER_ID}
	</sql>
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into 
	<include refid="tableName"></include>
		(
	<include refid="Field"></include>
		) values (
	<include refid="FieldValue"></include>
		)
	</insert>
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from
		<include refid="tableName"></include>
		where 
			PAPER_ID = #{PAPER_ID}
	</delete>
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update
		<include refid="tableName"></include>
		set 
			TITLE = #{TITLE},
			USER_ID = #{USER_ID},
			PAPER_TYPE = #{PAPER_TYPE},
			SUBJECT_ID = #{SUBJECT_ID},
			GRADE_ID = #{GRADE_ID},
			SCHOOL_ID = #{SCHOOL_ID},
			CREATE_DATE = #{CREATE_DATE},
			MODIFY_DATE = #{MODIFY_DATE},
			EXAM_TIME = #{EXAM_TIME},
			PAPER_STATE = #{PAPER_STATE},
			REMARK = #{REMARK},
			SCORE = #{SCORE},
			CLASS_ID = #{CLASS_ID},
			QUESTION_NUM = #{QUESTION_NUM},
		PAPER_ID = PAPER_ID
		where 
		PAPER_ID = #{PAPER_ID}
	</update>
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 
			PAPER_ID = #{PAPER_ID}
	</select>
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 1=1
		<if test="pd.LASTSTART != null and pd.LASTSTARt != ''"><!-- 关键词检索 -->
			and
				(
				CREATE_DATE &gt; #{pd.LASTSTART}
				<!--	根据需求自己加检索条件
					字段1 LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
					 or 
					字段2 LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%') 
				-->
				)
		</if>
		<if test="pd.LASTEND != null and pd.LASTEND != ''"><!-- 关键词检索 -->
			and
				(
				CREATE_DATE &lt; CONCAT(#{pd.LASTEND},'A')
				<!--	根据需求自己加检索条件
					字段1 LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
					 or 
					字段2 LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%') 
				-->
				)
		</if>
		
		<if test="pd.USER_ID != null and pd.USER_ID != ''"><!-- 关键词检索 -->
			and USER_ID = #{pd.USER_ID}
		</if>
		<if test="pd.CLASS_ID != null and pd.CLASS_ID != ''"><!-- 关键词检索 -->
			and CLASS_ID = #{pd.CLASS_ID}
		</if>
		
		<if test="pd.PAPER_TYPE != null and pd.PAPER_TYPE != ''"><!-- 关键词检索 -->
			and PAPER_TYPE = #{pd.PAPER_TYPE}
		</if>
		
		order by CREATE_DATE DESC
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		
		order by CREATE_DATE DESC
	</select>
	
	<!-- 指定类型列表(全部) -->
	<select id="listAllByTypelistPage" parameterType="page" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 1 = 1
		<if test="pd.PAPER_TYPE != null and pd.PAPER_TYPE != ''">
			and PAPER_TYPE = #{pd.PAPER_TYPE}
		</if>
		
		<if test="pd.USER_ID != null and pd.USER_ID != ''">
			and USER_ID = #{pd.USER_ID}
		</if>
		<if test="pd.SUBJECT_ID != null and pd.SUBJECT_ID != ''">
			and SUBJECT_ID = #{pd.SUBJECT_ID}
		</if>
		<if test="pd.CLASS_ID != null and pd.CLASS_ID != ''">
			and CLASS_ID = #{pd.CLASS_ID}
		</if>
		
		<if test="pd.START_DATE != null and pd.START_DATE != ''"><!-- 关键词检索 -->
			and (CREATE_DATE &gt; #{pd.START_DATE})
		</if>
		<if test="pd.END_DATE != null and pd.END_DATE != ''"><!-- 关键词检索 -->
			and (CREATE_DATE &lt; #{pd.END_DATE})
		</if>
		
		order by CREATE_DATE DESC
	</select>
	<!-- 指定类型列表(全部) -->
	<select id="listAllByType" parameterType="pd" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 1 = 1
		<if test="PAPER_TYPE != null and PAPER_TYPE != ''">
			and PAPER_TYPE = #{PAPER_TYPE}
		</if>
		
		<if test="USER_ID != null and USER_ID != ''">
			and USER_ID = #{USER_ID}
		</if>
		<if test="SUBJECT_ID != null and SUBJECT_ID != ''">
			and SUBJECT_ID = #{SUBJECT_ID}
		</if>
		<if test="CLASS_ID != null and CLASS_ID != ''">
			and CLASS_ID = #{CLASS_ID}
		</if>
		
		<if test="START_DATE != null and START_DATE != ''"><!-- 关键词检索 -->
			and (CREATE_DATE &gt; #{START_DATE})
		</if>
		<if test="END_DATE != null and END_DATE != ''"><!-- 关键词检索 -->
			and (CREATE_DATE &lt; #{END_DATE})
		</if>
		
		order by CREATE_DATE DESC
		
		<choose>
              <when test="CURRENTPAGE != null and CURRENTPAGE != '' and SHOWCOUNT != null and SHOWCOUNT != ''">
                  limit ${CURRENTPAGE}, ${SHOWCOUNT}
              </when>
              <otherwise>
                  limit 0,30
              </otherwise>
        </choose>
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from
		<include refid="tableName"></include>
		where 
			PAPER_ID in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
	
	<!-- fh313596790qq(青苔) -->
</mapper>