#zhongxin .table > tbody > tr > td{border:0;}
.btn-primary{background-color:#3bc2d6 !important;border-color:#3bc2d6;display: inline-block;width: 60px;font-size:16px;text-shadow:none;}
.btn-primary:hover{background-color:#3bc2d6 !important;border-color:#3bc2d6;}
.btn-danger{background-color:#f29c9f !important;margin-left:10px;border-color:#f29c9f;display: inline-block;width: 60px;font-size:16px;text-shadow:none;}
.btn-danger:hover{background-color:#f29c9f !important;border-color:#f29c9f;}
select.form-control{width:98%;}

::-webkit-scrollbar {/*滚动条整体样式*/
    width: 4px;     /*高宽分别对应横竖滚动条的尺寸*/
    height: 4px;
}
::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    background: rgba(0,0,0,0.2);
}
::-webkit-scrollbar-track {/*滚动条里面轨道*/
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    border-radius: 0;
    background: rgba(0,0,0,0.1);
}