<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="FirmwareMapper">
	
	<!--表名 -->
	<sql id="tableName">
		SV_FIRMWARE
	</sql>
	
	<!-- 字段 -->
	<sql id="Field">
		PRODUCT_NAME,	
		PRODUCT_NO,	
		INDUSTRY,	
		PRODUCT_STATE,	
		PRODUCT_SPEC,	
		PRODUCT_FUNC,	
		PRODUCT_PERF,	
		ADAPTABLE_HARDWARE,	
		ADAPTABLE_SOFTWARE,	
		PRODUCT_CERT,	
		REMARK,	
		PRODUCT_IMAGE,	
		CREATE_DATE,	
		FIRMWARE_ID
	</sql>
	
	<!-- 字段值 -->
	<sql id="FieldValue">
		#{PRODUCT_NAME},	
		#{PRODUCT_NO},	
		#{INDUSTRY},	
		#{PRODUCT_STATE},	
		#{PRODUCT_SPEC},	
		#{PRODUCT_FUNC},	
		#{PRODUCT_PERF},	
		#{ADAPTABLE_HARDWARE},	
		#{ADAPTABLE_SOFTWARE},	
		#{PRODUCT_CERT},	
		#{REMARK},	
		#{PRODUCT_IMAGE},	
		#{CREATE_DATE},	
		#{FIRMWARE_ID}
	</sql>
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into 
	<include refid="tableName"></include>
		(
	<include refid="Field"></include>
		) values (
	<include refid="FieldValue"></include>
		)
	</insert>
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from
		<include refid="tableName"></include>
		where 
			FIRMWARE_ID = #{FIRMWARE_ID}
	</delete>
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update
		<include refid="tableName"></include>
		set 
			PRODUCT_NAME = #{PRODUCT_NAME},
			PRODUCT_NO = #{PRODUCT_NO},
			INDUSTRY = #{INDUSTRY},
			PRODUCT_STATE = #{PRODUCT_STATE},
			PRODUCT_SPEC = #{PRODUCT_SPEC},
			PRODUCT_FUNC = #{PRODUCT_FUNC},
			PRODUCT_PERF = #{PRODUCT_PERF},
			ADAPTABLE_HARDWARE = #{ADAPTABLE_HARDWARE},
			ADAPTABLE_SOFTWARE = #{ADAPTABLE_SOFTWARE},
			PRODUCT_CERT = #{PRODUCT_CERT},
			REMARK = #{REMARK},
			PRODUCT_IMAGE = #{PRODUCT_IMAGE},
		FIRMWARE_ID = FIRMWARE_ID
		where 
		FIRMWARE_ID = #{FIRMWARE_ID}
	</update>
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 
			FIRMWARE_ID = #{FIRMWARE_ID}
	</select>
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 1=1
		<if test="pd.KEYWORDS!= null and pd.KEYWORDS != ''"><!-- 关键词检索 -->
			and
				(
					PRODUCT_NAME LIKE CONCAT(CONCAT('%', #{pd.KEYWORDS}),'%')
					 or 
					PRODUCT_NO LIKE CONCAT(CONCAT('%', #{pd.KEYWORDS}),'%') 
					 or 
					PRODUCT_SPEC LIKE CONCAT(CONCAT('%', #{pd.KEYWORDS}),'%') 
					 or 
					PRODUCT_FUNC LIKE CONCAT(CONCAT('%', #{pd.KEYWORDS}),'%') 
					 or 
					PRODUCT_PERF LIKE CONCAT(CONCAT('%', #{pd.KEYWORDS}),'%') 
					 or 
					ADAPTABLE_HARDWARE LIKE CONCAT(CONCAT('%', #{pd.KEYWORDS}),'%') 
					 or 
					ADAPTABLE_SOFTWARE LIKE CONCAT(CONCAT('%', #{pd.KEYWORDS}),'%') 
					 or 
					PRODUCT_CERT LIKE CONCAT(CONCAT('%', #{pd.KEYWORDS}),'%') 
				)
		</if>
		<if test="pd.INDUSTRY != null and pd.INDUSTRY != ''">
			and INDUSTRY = #{pd.INDUSTRY}
		</if>
		<if test="pd.PRODUCT_STATE != null and pd.PRODUCT_STATE != ''">
			and PRODUCT_STATE = #{pd.PRODUCT_STATE}
		</if>
		
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from
		<include refid="tableName"></include>
		where 
			FIRMWARE_ID in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
	
	<!-- fh313596790qq(青苔) -->
</mapper>