li{list-style:none;}
	a{color:#000;}
ul{padding:0;}
.container h3{border-bottom:1px solid #000;padding-bottom:10px;}
.container .col-md-8 li{float:left;margin-left:15px;}
.container .col-md-8 ul li:first-child{margin-left:0;}
.container .col-md-8 li img{width:140px;height:140px;}
.container .col-md-8 li p{text-align:center;font-size:16px;margin-top:5px;}
.container .col-md-8 h3 img{width:30px;margin-right:2%;vertical-align:bottom;}
.container .col-md-4 li{margin-top:10%;border-bottom:1px dashed #383838;}
.container .col-md-4 li .col-xs-3 img{width:50px;}
.container .col-md-4 li .col-xs-9:nth-child(2) p{font-size:18px;font-weight:bold;}
.container .col-md-4 li .col-xs-9:nth-child(3) p{font-size:14px;color:#ccc;}
.container .contact .col-xs-11 p{font-size:16px;font-weight:bold;margin-top:10px;}
.container .contact .col-xs-11 p span{font-size:20px;}

.header{border-bottom:1px dashed #ccc;padding:3% 0;}
.header .col-xs-9:nth-child(2) p{font-size:18px;font-weight:700;}
.content{padding:3% 0;}
.form-group{margin-top:10px;}
.xq label{width:4em;float:left;}
.rightBox{padding-top:3%;}
.red{color:#FF0000;}
.qaList p:first-child{font-size:18px;font-weight:bold;}
.k{display:inline-block;width:10px;height:10px;background:#1886ec;margin-right:5px;}